@import '../../variables.scss';

.next-meeting-main {
    background-color: rgb(107, 105, 105);
    font-weight: none;
    color: white;
    font-size: calc(2vh + 2vmin);
    height: 100%;
    text-align: center;
}   

.next-meeting-title{
    margin: 0;
    text-transform: uppercase;
}
.no-booking{
    padding: 1em 0;
}
@media screen and (max-width: $smartphone) {
    .new-meeting-info{
        padding: 1em 0;
    }
  }
  
