.next-meeting-main {
    background-color: rgb(107, 105, 105);
    font-weight: none;
    color: white;
    font-size: calc(3vh + 2vmin);
    height: 100%;
    text-align: center;
}   

.lh30{
    line-height: 200px;
}