@import '../../variables.scss';

.reservation-main{
    background-color: grey;
    color: white;
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    height: 100%;
    font-size: calc(3vh);
    position: relative;
    .reservation-main-title{
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }
    .input-name {
        padding-top: calc(3vh);
        input {
            padding-left: 1em;
            font-size: calc(3vh);
            width: 100%;
            box-sizing: border-box;
        }
    }
    .input-duration{
        display: flex;
        background-color: white;
        color: grey;
        margin-bottom: 0.5em;
        .label-duration{
            flex: 1;
        }
        .button-select-time{
            font-size: calc(3vh);
            padding-left: 20px;
            padding-right: 20px;
            cursor: pointer;
        }
    }
    .button-send{
        input {
            color: grey;
            font-size: calc(3vh);
            width: 100%;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
@media screen and (max-width: $smartphone) {
    .reservation-main{
        .input-duration{
        margin-bottom: 1em;
        }
    }
  }
  