.reservation-main{
    background-color: grey;
    color: white;
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    height: 100%;
    font-size: calc(3vh);
    position: relative;
    .reservation-main-title{
        font-size: calc(4vh);
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }
    .input-name {
        padding-top: calc(3vh);
        input {
            padding-left: 1em;
            font-size: calc(3vh);
            width: 100%;
            box-sizing: border-box;
        }
    }
    .input-duration{
        background-color: white;
        color: grey;
        margin-bottom: 0.5em;
        .button-left{
            float: left;
            font-size: calc(3vh);
            padding-left: 20px;
            padding-right: 20px;
            cursor: pointer;
        }
        .button-right{
            float: right;
            font-size: calc(3vh);
            font-size: calc(3vh);
            padding-left: 20px;
            padding-right: 20px;
            cursor: pointer;
        }
    }
    .button-send{
        input {
            color: grey;
            font-size: calc(3vh);
            width: 100%;
        }
        input:hover {
            cursor: pointer;
        }
    }
}
@media screen and (max-width: 600px) {
    .reservation-main{
        .input-duration{
        margin-bottom: 1em;
        }
    }
  }
  