@import '../../variables.scss';
.statusroom-main {
  color: white;
  justify-content: center;
  font-size: calc(6vh + 3vmin);
  font-weight: bold;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr; 
}

.bck-color-available{
  background-color: $room-available;
}
.bck-color-busy{
  background-color:	$room-busy;
}

.btn-add-time-meeting {
  color: #67d68C;
  padding: 0.8em 2em;
  font-size: 3vh;
  border: #67d68C 1px solid;
  background-color: white;
  font-weight: bold;
  
}

.btn-add-time-meeting:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.icon-btn{
  color: #67d68C;
  font-size: larger;
  margin-right: 1em;
}
.zone-smiley{
  text-align: end;
  padding-bottom: 1.2em;
  padding-top: 1.2em;
  .icon-smiley{
    font-size: 2.5em;
  }
}
.zone-information{
  white-space: pre-wrap;
}
