@import '../../variables.scss';
.statusroom-main {
  color: white;
  justify-content: center;
  font-size: calc(8vh);
  font-weight: bold;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr; 
  .margin-2{
    margin-top: 1.5em;
  }
}

.btn-add-time-meeting {
  color: #CC0000;
  padding: 0.8em 2em;
  font-size: 3vh;
  border: #800020 1px solid;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn-add-time-meeting:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.icon-btn{
  color: 	#CC0000;
  font-size: larger;
  margin-right: 1em;
}
.zone-smiley{
  text-align: end;
  padding-bottom: 1.2em;
  padding-top: 1.2em;
  .icon-smiley{
    font-size: 2.5em;
  }
}
.zone-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .statusroom-main {
    padding-top: initial;
    padding-bottom: initial;
    grid-template-columns: none;
    .btn-add-time-meeting{
      width: 100%;
    }
    .zone-smiley{
      text-align: center;
      padding-top: 1.5em;
      padding-bottom: initial;
    }
    .zone-information{
      margin-bottom: 1em;
    }
  }
}