  .calendar-day-main{
      text-align: center;
  }
  
  .hour-main{
    display: inline-block;
    width: 65px;
}
.step-container{
    text-align: initial;
}
  .step{
    display: inline-block;
    height: 20px;
    width: 10px;
    text-align: initial;
  }
  
  .label-heure{
      width: 75px;
     text-align: right;
  }