@import '../../variables.scss';

.timeline-main{
    
    .title-date{
        font-size: calc(3vh + 2vmin);
        font-weight: bold;
        text-align: center;
        padding-bottom: 20px;
    }
}