@import './variables.scss';

.App {
  display: grid;
  grid-template-columns: auto;  
}


.App-header {
  background-color: white;
  max-height: 120vh;
  padding: 1vh;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 6vh;
  .name-room{
    text-transform : uppercase;
    padding-left: 1em;
  }
  .real-time{
    padding-right: 1em;
    text-align: end;
  }
}
.color-available{
  color: $room-available;
}
.bck-color-available{
  background-color: $room-available;
}
.bck-color-busy{
  background-color:	$room-busy;
}
.color-busy{
  color: $room-busy;
}
.App-link {
  color: #61dafb;
}

/* Create three equal columns that float next to each other */
.col-3 {
  float: left;
  width: 33.33%;
  display: grid;
  height: 100%;
}
.col-6 {
  float: left;
  width: 66.66%;
  display: grid;
  height: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row.corps{
  height: 30VH;
}
.row.current-booking{
  height: 40VH;
}
.timeline-content{
  background-color: #F2F3F4;
}

@media screen and (max-width: 600px) {
  .col-3, .col-6 {
    width: 100%;
    height: auto;
  }
}
